* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --bg: #f4f4f5;
  --card-bg: #fff;  
  --border: #e5e7eb;
  --text: #111827;
  --muted: #6b7280;
  --accent: #f43f5e;
  --accent-hover: #be123c;
}

body{
    display:flex;
    flex-direction: column;
    background-color: var(--bg);
    gap: 1rem;
    align-items: center;
}

h1{
    color: var(--muted);
    font-family: monospace;
    font-size: 2.5rem;
}

.image-panel{
    display: flex;
    flex-direction: row;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: wrap;
    gap: 1rem;
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1rem;
    background-color: var(--muted);
    overflow: hidden; /* image doesnt overflow out of rounded corners */
    width: 40rem;
}

.image-panel .image-container{
    width: 100%;
    height: 18rem;
    padding: 0.5rem;
}

.description{
    display: grid;
    grid-template-columns: 2rem 11rem;
    grid-template-rows: 1;
    gap: 0rem;
    overflow: hidden;
}

.description div{
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    white-space: nowrap;
}

.image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--muted);
    width: 40rem;
    height: 40rem;
}

.image-panel .image-wrapper{
    width: 15rem;
    height: 15rem;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 💡 Keeps aspect ratio, no cropping */
  display: block;
}