* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #f4f4f5;
    --card-bg: #fff;
    --border: #e5e7eb;
    --text: #111827;
    --muted: #d4c04b;
    --accent: #fdf7a2;
    --darkbrown:#752f14;

    --accent-hover: #be123c;
}

@font-face {
    font-family: Gistrhough;
    src: url('./fonty/gistrough/GistRoughUprExboldTwoDemo-aDOg.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: StarJedi;
    src: url('./fonty/starjedi/StarJediRounded-jW3R.ttf') format('truetype');
}

@font-face {
    font-family: Dumba;
    src: url('./fonty/dumba/Dumba-8OgJD.ttf') format('truetype');
}


option[hidden] {
    display: none;
}

body {
    --tile-size: 20vw;

    /*background-image: url("obrazky/metaltile.png");*/
    background-image: url("obrazky/brassmetalbolts3.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 100%;
    /*background-position-y: calc(var(--tile-size) / 2);
    background-size: var(--tile-size);*/

    /* background-position-x: 16.5%;
    background-position-y: 44%;
    background-size: 25%;  set tile size */

    color: var(--accent)
}

body > *:not(.central-image-container) {
  position: relative;
  z-index: 1;           /* normal content above the image */
}


.bigflex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1 {
    color: rgb(218, 217, 217);
    font-family: Dumba;
    font-size: 10rem;
    text-align: center;
    margin-left: 15rem;
    margin-top: 5rem;
}

.image-panel {
    display: flex;
    flex-direction: row;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: wrap;
    gap: 1rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1rem;
    background-color: var(--muted);
    overflow: hidden;
    /* image doesnt overflow out of rounded corners */
    width: 40rem;
}

.image-panel .image-container {
    width: 100%;
    height: 18rem;
    padding: 0.5rem;
}

.central-image-container {
    width: var(--tile-size);
    /*min-width: 200px;*/
    height: var(--tile-size);
    
    /* align on full tile rows */
    /* margin-top: calc(var(--tile-size) * 1); */
    /*top: calc(var(--tile-size) * 1);*/
    top:38%;
    
    /* align on full tile cols */
    /* margin-left: calc(var(--tile-size) * 3.5); */
    /*left: calc(var(--tile-size) * 3.5);*/
    left: 0.5rem;;
    background-color: var(--muted);
    border-radius: 1rem;

    /* image doesnt overflow out of rounded corners */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;      /* to stay in fixed position in background regardless of other content */
    z-index: 0;           /* send to "background" */
}

.central-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.description {
    display: grid;
    grid-template-columns: 2rem 11rem;
    grid-template-rows: 1;
    gap: 0rem;
    overflow: hidden;
}

.description div {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    white-space: nowrap;
}


.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--muted);
    width: 40rem;
    height: 40rem;
}

.image-panel .image-wrapper {
    width: 15rem;
    height: 15rem;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* 💡 Keeps aspect ratio, no cropping */
    display: block;
}

.myform {
    width: 95%;
    max-width: calc(var(--tile-size)*3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align on full tile rows */
    /*margin-top: calc(var(--tile-size) * 0.5);*/
    
    /* align on full tile cols */
    /*margin-left: calc(var(--tile-size) * 1.5);*/
    
    padding: 1rem;

}

.myform label {
    display: block;
    margin-bottom: 0.5rem;
}

.myform input[type="text"] {
    background-image: url("obrazky/paperbackground_lighter.png");
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--darkbrown);
    border-radius: 0.375rem;
}

.myform input:focus {
    outline: 2px solid var(--accent);
}

.myform select {
    background-image: url("obrazky/paperbackground_lighter.png");
    width: 100%;
    max-width: 300px;
    max-height: 500px;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--darkbrown);
    border-radius: 0.375rem;
}

.myform select:focus {
    outline: 2px solid var(--accent);
    
}

.myform select option:checked {
  background-color: var(--accent);
}



.myform button{
    background-color: var(--accent);
    /*color: var(--text);*/
    color: transparent;
    max-width: 300px;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url("obrazky/pushbutton.png");
    background-size: 8.2rem;
    background-position: center;
    outline: none;
    margin-left:calc(var(--tile-size)/2);
     box-shadow: none; 
}

.myform button:focus {
    outline: 2px solid var(--accent);
}
